<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Quizz</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Macondo+Swash+Caps&display=swap" rel="stylesheet">
    <style>
       .macondo-swash-caps-regular {
            font-family: "Macondo Swash Caps", cursive;
            font-weight: 400;
            font-style: normal;
            }

    </style>
</head>
<body>
    <header> 

        <h1 class = "text-[32px] font-bold text-center text-white bg-indigo-400 py-4 macondo-swash-caps-regular "> Quel personnage d'Arcane es-tu ? </h1>

    </header>


    <main>
        <div class="flex">
            <img src="/static/arcane_accueil.jpeg">
        </div>
    </main>


    <footer>
        
    
    </footer>
    
</body>
</html>